rect:hover{
	opacity: 0.2;
}

path:hover{
	opacity: 0.5;
}

#color{
	width: 20px;
	height: 20px;
	/*float: left;*/
}

.main{
	display: inline;
}

#pie{
	width: 600px;
	/*float: right;*/
}
#bar{
	width: 800px;
	/*float: left;*/
}

